version: '3.3'
services:
  nginx:
    image: nginx:1.17 #最新版本
    container_name: nginx
    ports:
      - "80:80" #nginx
    restart: always
    tty: true
    volumes:
      - ./www:/var/www/html
      - ./logs/nginx:/var/log/nginx
      - ./nginx/conf:/etc/nginx
      - ./nginx/etc/letsencrypt:/etc/letsencrypt #ssl证书目录
    networks:
      - lnmp-networks
  php:
    # build:
    #   context: ./php7.4
    image: jibenliu/php7.4-fpm 
    container_name: php7-fpm
    tty: true
    restart: always
    privileged: true
    volumes:
      - ./www:/var/www/html
      - ./logs/php:/var/log/php
      - ./php7.4/etc:/usr/local/etc
    depends_on:
      - nginx
    ports:
      - "9000:9000"
    networks:
      - lnmp-networks
  # php:
  #   image: jibenliu/php5.6-fpm
  #   container_name: php5-fpm
  #   tty: true
  #   restart: always
  #   privileged: true
  #   volumes:
  #     - ./www:/var/www/html
  #     - ./logs/php:/var/log/php
  #     - ./php5.6/etc:/usr/local/etc
  #   depends_on:
  #     - nginx
  #   ports:
  #     - "9000:9000"
  #   networks:
  #     - lnmp-networks
  redis:
    image: redis:5.0.7
    container_name: redis
    ports:
      - "6379:6379"
    tty: true
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 500M
    volumes:
      - ./redis/redis.conf:/etc/redis/redis.conf
      - ./redis/data:/var/lib/redis
      - ./logs/redis:/var/log/redis
    networks:
      - lnmp-networks
  mysql:
    image: mysql:8.0
    container_name: mysql
    tty: true
    restart: always
    ports:
      - "3306:3306" #mysql
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/data/mysql-files:/var/lib/mysql-files
      - ./mysql/conf:/etc/mysql
      - ./logs/mysql:/var/log/mysql
    command:
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
      --explicit_defaults_for_timestamp=true
      --lower_case_table_names=1
      --max_allowed_packet=128M
      --innodb-buffer-pool-size=64M
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    networks:
      - lnmp-networks
  mongodb:
    image: mongo:4.2.2
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb/data:/data
      - ./mongodb/conf/mongod.conf.orig:/etc/mongod.conf #默认配置文件
      - ./logs/mongodb/mongodb.log:/var/log/mongodb/mongodb.log:rw
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 123456
    tty: true
    restart: always
    user: mongodb
    networks:
      - lnmp-networks
  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: rabbitmq
    ports:
      - "15672:15672" #管理界面端口
      - "5672:5672" #服务端端口
    volumes:
      - ./rabbitmq/data:/var/lib/rabbitmq
      - ./rabbitmq/conf:/etc/rabbitmq
      - ./logs/rabbitmq/rabbitmq.log:/var/log/rabbitmq/rabbitmq.log:rw
    environment:
      - RABBITMQ_DEFAULT_USER=root
      - RABBITMQ_DEFAULT_PASS=123456
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    tty: true
    restart: always
    user: rabbitmq
    networks:
      - lnmp-networks
  # memcached:
  #   image: memcached
  #   ports:
  #     - 11211:11211
  #   container_name: memcached
  #   restart: always
  #   networks:
  #     - lnmp-networks
networks:
  lnmp-networks:
